---
import Header from "../components/Header.astro";
import PaperCard from "../components/PaperCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";

const papers = [
    {
        title: "ApisFlow: a Real-Time Automated Tool to Detect, Classify and Count Honey Bees Castes at the Hive Entrance",
        authors: [
            "Gabriel Vasconcelos Fruet",
            "Isac Gabriel Abrahão Bomfim",
            "Rafael Capelo Domingues",
            "Antonio Rafael Braga",
            "Danielo G. Gomes",
        ],
        venue: "WCAMA",
        year: "2023",
        link: "https://doi.org/10.5753/wcama.2023.230583",
    },
    {
        title: "Imagens de Raios X e YOLOv8 para Avaliação Automatizada da Qualidade de Sementes",
        authors: [
            "Rafael Capelo Domingues",
            "Gabriel Vasconcelos Fruet",
            "Haynna Fernandes Abud",
            "Danielo G. Gomes",
        ],
        venue: "SBIAGRO",
        year: "2023",
        link: "https://sol.sbc.org.br/index.php/sbiagro/article/view/26555",
    },
];
---

<BaseLayout title="Papers | Gabriel Fruet">
    <Header />

    <main>
        <PageHeader title="Papers" />

        <ul class="space-y-0">
            {papers.map((paper) => <PaperCard {...paper} />)}
        </ul>
    </main>
</BaseLayout>
