---
const contributions = [
    {
        name: "PyTorch Ignite",
        url: "https://github.com/pytorch/ignite",
    },
    {
        name: "Lightly",
        url: "https://github.com/lightly-ai/lightly",
    },
    {
        name: "LightlyTrain",
        url: "https://github.com/lightly-ai/lightly-train",
    },
];
---

<p class="text-base text-muted mb-14">
    Contributing to:{" "}
    {
        contributions.map((item, index) => (
            <>
                <a
                    href={item.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-accent hover:underline"
                >
                    {item.name}
                </a>
                {index < contributions.length - 1 && ", "}
            </>
        ))
    }
</p>
