---
const links = [
  { text: "Home", href: "/" },
  { text: "Blog", href: "/blog" },
  { text: "Projects", href: "/projects" },
  { text: "Papers", href: "/papers" },
];
---

<header class="flex justify-between items-center mb-16 text-base">
  <nav class="flex gap-6">
    {
      links.map((link) => (
        <a
          href={`${import.meta.env.BASE_URL}${link.href === "/" ? "" : link.href}`}
          class="text-[#575653] hover:text-[#CECDC3] no-underline"
        >
          {link.text}
        </a>
      ))
    }
  </nav>
  <div class="flex gap-6">
    <a
      href="https://github.com/gabrielfruet"
      target="_blank"
      rel="noopener noreferrer"
      class="text-[#575653] hover:text-[#CECDC3] no-underline"
    >
      GitHub
    </a>
    <a
      href="https://www.linkedin.com/in/gabriel-fruet/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-[#575653] hover:text-[#CECDC3] no-underline"
    >
      LinkedIn
    </a>
  </div>
</header>
